<!doctype html>
<html>
   <body>
      <table id="tblOne" border=1 style="width:50%; float:left">
	    <tr>
		  <th> Town </th>
		  <th> Postcode </th>
		</tr>
         {% for name, postcode in nameAndPostcode %}
            <tr>
               <td> {{ name }} </td>
               <td> {{ postcode }} </td>
            </tr>
         {% endfor %}
      </table>
	  <table id="tblTwo" border=1 style="width:25%; float:left">
	    <tr>
		  <th> Longitude </th>
		  <th> Latitude </th>
		</tr>
         {% for longitude, latitude in longitudeAndLatitude %}
            <tr>
               <td> {{ longitude }} </td>
               <td> {{ latitude }} </td>
            </tr>
         {% endfor %}
      </table>
   </body>
</html>