<html>
   <body>
      <table id="tblOne" border=1 style="width:25%; float:left">	    
         {% for name, postcode in name_and_postcode %}
            <tr>
               <td> {{ name }} </td>
               <td> {{ postcode }} </td>
            </tr>
         {% endfor %}
      </table>
	  <table id="tblTwo" border=1 style="width:25%; float:left">	    
         {% for longitude, latitude in longitude_and_latitude %}
            <tr>
               <td> {{ longitude }} </td>
               <td> {{ latitude }} </td>
            </tr>
         {% endfor %}
      </table>      
      <img src="{{ image }}">    
   </body>
</html>
